#Engsigcanvas1 {
    border: 3px solid rgb(20, 19, 19);
    display: inline-block;
    background-color: rgb(255, 255, 247);
  
}

#canvasID1{
    width: 100%;
    text-align:center;
    margin-top: 10px;
}

#Engsigcanvas2 {
    border: 3px solid rgb(20, 19, 19);
    display: inline-block;
    background-color: rgb(255, 255, 247);
}

#canvasID2{
    width: 100%;
    text-align:center;
    margin-top: 10px;
}
