
.fixed-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.outerdiv{
       
    width: 100%;
    height:  100%;
}

ion-button{
    height: 55px;
}