.space{
    margin-top: 3%;
}

.roundbutton1{
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  font-size: large;
}

p {
    color: rgb(196, 40, 13);
    text-indent: 30px;
    align-self: centre;
    
  }


.icon_container, .icon_container2 {
  text-align: center;
  height:100px;
}

.icon_container > ion-icon, .icon_container2 > ion-icon {
  position:relative;
  top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}